body {
    margin: 40px;
    background: #aac6e4;
    font: 18px/27px 'Oxygen', sans-serif;
    color: white;
}

button {
    background-color: white;
    border: 6px solid rgb(2, 141, 99);
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
}